**/.iml
*.class
*.ctxt
*.ear
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.factorypath
.mtj.tmp/
.mvn/timing.properties
/.classpath
/.gradle
/.idea
/.project
/.settings/
buildNumber.properties
dependency-reduced-pom.xml
hs_err_pid*
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
